{
  "action": "actions",
  "list": [
    {
      "action": "projectile",
      "type": "pat_yogurtbomb_explosion",
      "inheritDamageFactor": 1,
      "fuzzAngle": 360
    },
    {
      "action": "loop",
      "count": 25,
      "body": [
        { "action": "particle", "specification": "pat_yogurtbomb_explosion" }
      ]
    },
    {
      "action": "sound",
      "options": [ "/sfx/gun/grenadeblast_small_poison1.ogg", "/sfx/gun/grenadeblast_small_poison2.ogg", "/sfx/gun/grenadeblast_small_poison3.ogg" ]
    },
    {
      "action": "loop",
      "count": 7,
      "body": [
        {
          "action": "particle",
          "specification": {
            "type": "animated",
            "animation": "/animations/smoke/smoke.animation",
            "approach": [ 0.5, 0.5 ],
            "timeToLive": 0.6,
            "variance": {
              "position": [ 1.5, 1.5 ],
              "initialVelocity": [ 1, 1 ],
              "timeToLive": 0.15,
              "rotation": 180
            }
          }
        },
        {
          "action": "particle",
          "specification": {
            "type": "animated",
            "animation": "/animations/mediumflame/mediumflame.animation",
            "approach": [ 0.5, 0.5 ],
            "timeToLive": 0.6,
            "variance": {
              "position": [ 1.5, 1.5 ],
              "initialVelocity": [ 1, 1 ],
              "timeToLive": 0.15,
              "rotation": 180
            }
          }
        },
        {
          "action": "particle",
          "specification": {
            "type": "animated",
            "animation": "/animations/smallflame/smallflame.animation",
            "approach": [ 0.5, 0.5 ],
            "timeToLive": 0.6,
            "variance": {
              "position": [ 1.5, 1.5 ],
              "initialVelocity": [ 1, 1 ],
              "timeToLive": 0.15,
              "rotation": 180
            }
          }
        },
        { "action": "spark" }
      ]
    }
  ]
}
