{
  "action": "actions",
  "list": [
    {
      "action": "projectile",
      "type": "pat_yogurtbomb_explosion",
      "inheritDamageFactor": 2.5,
      "fuzzAngle": 360
    },
    {
      "action": "loop",
      "count": 20,
      "body": [
        { "action": "particle", "specification": "pat_yogurtbomb_explosion" }
      ]
    },
    {
      "action": "sound",
      "options": [ "/sfx/gun/grenadeblast_small_poison1.ogg", "/sfx/gun/grenadeblast_small_poison2.ogg", "/sfx/gun/grenadeblast_small_poison3.ogg" ]
    }
  ]
}
